[user]
	name = Eric Siegel
	email = eric@locationlabs.com
[core]
	excludesfile = /usr/local/home/.gitignore_global
[alias]
   co = checkout
   ci = commit
   st = status
   br = branch
   hist = log --graph --date=relative --pretty=tformat:'%Cred%h%Cgreen %ad%Creset | %s%d [%an]' 
   type = cat-file -t
   dump = cat-file -p
[merge]
	conflictstyle = diff3
[branch]
	autosetuprebase = always
[color]
	ui = auto
